<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CloudBudget</title>
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header class="header">@@include('../blocks/nav-bar/nav-bar.html',{'class': 'header__nav-bar container'})</header>
    <main class="main">
      <section class="main__cloudbudget cloudbudget">
        <div class="cloudbudget__wrapper container">
          <h3 class="cloudbudget__title">CloudBudget</h3>
          <p class="cloudbudget__description">
            Cloud budget management for everyone. Only <br />€69.95 a Month After a 7 Day Trial of <br />
            Up to €4.99
          </p>
          <button class="cloudbudget__sign-up button button--theme-white" type="button">sign up</button>
        </div>
      </section>
      <section class="main__software software container">
        <div class="software__article artice-software">
          <h3 class="artice-software__title">Easy to Use Cloud Budget Management Software</h3>
          <p class="artice-software__text">
            Our software is made so you can access and manage your budget and expenses online at any time from any
            device. It provides detailed income and expense reports with graphs so you can easilly see your spending
            patterns and budget at a glance. Read below to find out more.
          </p>
          <a class="artice-software__learn-more" href="#">Learn more</a>
        </div>
        <div class="software__video video-software">
          <img
            class="video-software__img"
            src="img/software/preview-img.jpg"
            alt="Easy to Use Cloud Budget Management Software"
          />
          <button class="video-software__play-button" type="button">
            <svg width="66" height="66" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle cx="33" cy="33" r="33" fill="#ED4C5C" />
              <path d="M39.75 33L28.5 40.875V25.125L39.75 33Z" fill="white" />
            </svg>
          </button>
        </div>
      </section>
    </main>

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
