html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

//!Header start
.header {
  position: fixed;
  z-index: 50;
  min-height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__nav-bar {
  }
}

.header--active {
  transition: all 0.5s ease-in-out;
  background-color: rgba(#ed4c5c, 0.8);
}
//!Header end

//! Main start
.main {
  &__cloudbudget {
  }
  &__software {
  }
  &__features {
  }
  &__technology {
  }
  &__save-money {
  }
  &__contact {
  }
}
//! Main end

//! Cloudbudget section start
.cloudbudget {
  position: relative;

  padding-top: 17px;
  padding-bottom: 187px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
  min-height: 100vh;
  background: url("../img/header/header__hero-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(to right, #d52047, #ee3d1b);
    opacity: 0.8;
    z-index: -1;
  }

  &__wrapper {
    max-width: 578px;
    align-self: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    // font-size: 72px;
    font-size: calc(32px + 40 * ((100vw - 320px) / (1440 - 320)));
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #ffffff;
  }

  &__sign-up {
  }
}
//! Cloudbudget section end

//!Software section start

.software {
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__article {
    max-width: 445px;
  }

  &__video {
    max-width: 445px;
    margin-right: 95px;
  }
}
.artice-software {
  &__title {
    font-weight: 600;
    font-size: calc(32px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: 43px;
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 19px;
    text-align: justify;
  }

  &__learn-more {
    color: #ed4c5c;
  }
}

.video-software {
  position: relative;

  &__img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &__play-button {
    position: absolute;

    top: calc(50% - 17px);
    left: -33px;

    display: flex;
    border: none;
    background: transparent;

    cursor: pointer;
  }
}

//!Software section end

//! Features section start

.features {
  padding-top: 63px;
  min-height: 660px;
  background: #fafafa;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 63px;
  }

  &__cards {
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  justify-content: center;
  gap: 30px;
  &__item {
  }
}
.card {
  max-width: 350px;
  &__img {
    position: relative;
    z-index: 1;

    max-width: 350px;
    max-height: 250px;
  }
  &__img img {
    border-radius: 8px;

    height: auto;
    max-width: 100%;
  }

  &__body {
    position: relative;
    z-index: 2;

    margin-top: -30%;
    margin-right: auto;
    margin-left: auto;
  }
}
.body-card {
  max-width: 293px;

  padding: 33px 20px 25px 20px;

  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;

    max-width: 253px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  &__read-more {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ed4c5c;
  }
}

//! Features section end

//! Technology section start
.technology {
  padding-top: 63px;
  min-height: 500px;

  &__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 255px));
    gap: 30px;
    justify-content: center;
  }

  &__item {
  }
}
.item-techology {
  max-width: 255px;
  min-height: 226px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__graphics {
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__text {
    max-width: 191px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
.techology-graphics {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__number {
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
  }

  &__img {
    margin-top: -60px;
  }
}
//! Technology section end

//! Money-save section start

.money-save {
  display: flex;
  align-items: center;
  min-height: 500px;
  background: #ed4c5c;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-side {
    max-width: 445px;
  }

  &__title {
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #ffffff;
  }

  &__text {
    margin-bottom: 40px;

    font-weight: 400;
    text-align: justify;
    color: #ffffff;
  }

  &__app-markets {
  }

  &__slider-side {
    max-width: 553px;
    text-align: center;
  }
}
// !=================SWIPER reassignment ==============
.swiper-container {
}

.swiper-slide img {
  object-position: center;
  object-fit: cover;
  width: 445px;
  height: auto;
  max-height: 311px;
  border-radius: 15px;
}

.swiper-slide-next {
  opacity: 0.5;
  transform: translate3d(-465px, 0px, -200px) rotateX(0deg) rotateY(0) scale(1) !important;
}
.swiper-slide-prev {
  opacity: 0.5;
  transform: translate3d(465px, 0px, -200px) rotateX(0deg) rotateY(0) scale(1) !important;
}

// !=================SWIPER reassignment ==============

.app-markets {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 23px;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: (0px 0px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__link img {
    display: block;
    height: 32px;
    width: 32px;
    object-position: center;
    object-fit: none;
  }
}

//! Money-save section end

//! Contact section end

.contact {
  min-height: 500px;
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;

    justify-content: space-between;
  }
  &__text-side {
    max-width: 434px;
    margin-right: 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
  }

  &__text {
    text-align: justify;
  }

  &__form-side {
    max-width: 540px;
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  & input {
    padding: 15px 30px;

    font: inherit;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    border-radius: 6px;
    border: 1px solid;
  }

  &__first-name {
    width: 49%;
  }

  &__last-name {
    width: 49%;
  }

  &__phone-number {
    margin-bottom: 25px;
  }

  &__select-service {
    padding: 15px 30px;
    margin-bottom: 27px;

    background: transparent;

    font: inherit;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    border-radius: 6px;
    border: 1px solid;
  }

  &__button {
    max-width: 160px;
  }
}

//! Contact section start
