// !Header start
.header {
  @media (max-width: 768px) {
    min-height: 50px;
  }
}
// !Header end

//!Nav-bar start

.nav-bar {
  &__logo {
  }

  &__site-nav {
  }

  &__user-nav {
  }
}

//!Logo
.logo {
  &__img {
  }

  &__text {
    @media (max-width: 860px) {
      display: none;
    }
  }

  &__link {
  }
}

//!Site-nav
.site-nav {
  &__list {
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      position: fixed;
      left: -100%;

      background-color: #000;
      flex-direction: column;
    }
  }

  &__item {
    @media (max-width: 768px) {
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 0;
      margin-bottom: 30px;
      font-size: 25px;
    }
  }

  &__link {
    @media (max-width: 768px) {
      &::after {
        content: none;
      }
    }
  }

  &__burger {
    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__burger span {
  }
}

//!User-nav
.user-nav {
  @media (max-width: 768px) {
    width: 170px;
  }
  &__site-lang {
  }

  &__login {
  }
}

//!Site-lang
.site-lang {
  @media (max-width: 768px) {
    width: 50px;
  }
  &__current-lang-icon {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__current-lang {
  }

  &__chose-lang {
  }
}
// !Nav-bar end

//!Clodbudget section start
.cloudbudget {
  @media (max-width: 320px) {
    padding-bottom: 30px;
  }
}
//!Clodbudget section end

//! Software section start
.software {
  @media (max-width: 768px) {
    flex-direction: column;
  }
  &__article {
    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__video {
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
}
.artice-software {
  &__title {
  }

  &__text {
  }

  &__learn-more {
  }
}

.video-software {
  &__img {
  }

  &__play-button {
    @media (max-width: 768px) {
      left: calc(50% - 33px);
    }
  }
}
//! Software section end

//! Features section start

.features {
  &__title {
  }

  &__cards {
    @media (max-width: 768px) {
    }
  }
}
.cards {
  &__item {
  }
}
.card {
  &__img {
  }
  &__img img {
  }

  &__body {
  }
}
.body-card {
  &__wrapper {
  }
  &__title {
  }

  &__text {
  }

  &__read-more {
  }
}
//! Features section end

//! Technology section start
.technology {
  &__title {
  }

  &__list {
  }

  &__item {
  }
}
.item-techology {
  &__graphics {
  }

  &__title {
  }

  &__text {
  }
}
.techology-graphics {
  &__number {
  }

  &__img {
  }
}
//! Technology section end

//! Money-save section start

.money-save {
  &__wrapper {
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__text-side {
  }

  &__tite {
  }

  &__text {
  }

  &__app-markets {
  }

  &__slider-side {
  }
}

.app-markets {
  &__list {
  }

  &__item {
  }

  &__link {
  }
}

.swiper-container {
  @media (max-width: 553px) {
    max-width: 425px;
  }
}

.swiper-slide img {
  @media (max-width: 553px) {
    max-width: 325px;
  }
}

.swiper-slide-next {
  @media (max-width: 553px) {
    transform: translate3d(-565px, 0px, -200px) rotateX(0deg) rotateY(0) scale(1) !important;
  }
}
.swiper-slide-prev {
  @media (max-width: 553px) {
    transform: translate3d(565px, 0px, -200px) rotateX(0deg) rotateY(0) scale(1) !important;
  }
}

.swiper-container {
  @media (max-width: 375px) {
    max-width: 320px;
  }
}

.swiper-slide img {
  @media (max-width: 375px) {
    max-width: 215px;
  }
}

//! Money-save section end

//! Contact section end

.contact {
  &__wrapper {
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__text-side {
  }

  &__title {
  }

  &__text {
  }

  &__form-side {
  }
}

.contact-form {
  &__first-name {
  }

  &__last-name {
  }

  &__phone-number {
  }

  &__select-service {
  }

  &__button {
  }
}

//! Contact section start
